# پوشه‌های بیلد
bin/
obj/

# فایل‌های شخصی VS
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider و VSCode
.idea/
.vscode/

# لاگ‌ها و موقتی‌ها
Logs/
*.log
*.tmp

# بکاپ یا پابلیش
*.bak
publish/

# تنظیمات کاربر
userconfig.json

# تولید خودکار
*.dbmdl
*.pdb
*.cache

# VS metadata
*.ncrunch*
*.vs/
